In [2]:
# Importing libraries 

import numpy as np
import pandas as pd

In [3]:
data= pd.ExcelFile("Analytics Position Case Study.xlsx")

In [4]:

# Loading and parsing each sheet into separate DataFrames
gameplay_data = data.parse('User Gameplay data')
deposit_data = data.parse('Deposit Data')
withdrawal_data = data.parse('Withdrawal Data')

In [5]:
# Renaming columns for unique names 

gameplay_data.columns = ['user_id', 'games_played', 'datetime']
deposit_data.columns = ['user_id', 'datetime', 'deposit_amount']
withdrawal_data.columns = ['user_id', 'datetime', 'withdrawl_amount']

In [6]:
# Analyzing the data

gameplay_data.head()

   user_id  games_played             datetime
0      NaN           NaN                  NaN
1      NaN           NaN                  NaN
2  User ID  Games Played             Datetime
3      851             1  2022-01-10 00:00:00
4      717             1  2022-01-10 00:00:00

In [7]:
gameplay_data.isnull().sum()

user_id         2
games_played    2
datetime        2
dtype: int64

In [8]:
# Checking the deposit_data columns

deposit_data.head()

   user_id             datetime deposit_amount
0      NaN                  NaN            NaN
1      NaN                  NaN            NaN
2  User Id             Datetime         Amount
3      357  2022-01-10 00:03:00           2000
4      776  2022-01-10 00:03:00           2500

In [9]:
deposit_data.isnull().sum()

user_id           2
datetime          2
deposit_amount    2
dtype: int64

In [10]:
# Analyzing withdrawal_data

withdrawal_data.head()

   user_id             datetime withdrawl_amount
0      NaN                  NaN              NaN
1      NaN                  NaN              NaN
2  User Id             Datetime           Amount
3      190  2022-01-10 00:03:00             5872
4      159  2022-01-10 00:16:00             9540

In [11]:
withdrawal_data.isnull().sum()

user_id             2
datetime            2
withdrawl_amount    2
dtype: int64

In [12]:
# Removing the incorrect row  at 3rd position which is headers 

gameplay_data = gameplay_data.dropna(subset=['user_id', 'datetime']).iloc[3:].reset_index(drop=True)
deposit_data = deposit_data.dropna(subset=['user_id', 'datetime']).iloc[3:].reset_index(drop=True)
withdrawal_data = withdrawal_data.dropna(subset=['user_id', 'datetime']).iloc[3:].reset_index(drop=True)

In [13]:
print(gameplay_data.head())
print(deposit_data.head())
print(withdrawal_data.head())

  user_id games_played             datetime
0     456            1  2022-01-10 00:00:00
1     424            1  2022-01-10 00:00:00
2     845            1  2022-01-10 00:00:00
3      15            1  2022-01-10 00:00:00
4     738            1  2022-01-10 00:00:00
  user_id             datetime deposit_amount
0     492  2022-01-10 00:06:00           5000
1     803  2022-01-10 00:07:00           5000
2     875  2022-01-10 00:09:00           1500
3      39  2022-01-10 00:11:00           4000
4     539  2022-01-10 00:13:00            500
  user_id             datetime withdrawl_amount
0     164  2022-01-10 00:24:00              815
1     946  2022-01-10 00:29:00            23000
2     763  2022-01-10 00:40:00             9473
3      47  2022-01-10 01:01:00             3637
4     302  2022-01-10 01:11:00             2000

In [14]:
# checking for null or missing values

print(gameplay_data.isnull().sum())
print(deposit_data.isnull().sum())
print(withdrawal_data.isnull().sum())

user_id         0
games_played    0
datetime        0
dtype: int64
user_id           0
datetime          0
deposit_amount    0
dtype: int64
user_id             0
datetime            0
withdrawl_amount    0
dtype: int64

In [15]:
# since the datetime column is not in datetime data type format, converting it into datetime

# Convert 'Datetime' columns to datetime data type
gameplay_data['datetime'] = pd.to_datetime(gameplay_data['datetime'])
deposit_data['datetime'] = pd.to_datetime(deposit_data['datetime'])
withdrawal_data['datetime'] = pd.to_datetime(withdrawal_data['datetime'])

In [29]:
print(gameplay_data.head())
print(deposit_data.head())
print(withdrawal_data.head())

  user_id games_played   datetime
0     456            1 2022-01-10
1     424            1 2022-01-10
2     845            1 2022-01-10
3      15            1 2022-01-10
4     738            1 2022-01-10
  user_id            datetime deposit_amount
0     492 2022-01-10 00:06:00           5000
1     803 2022-01-10 00:07:00           5000
2     875 2022-01-10 00:09:00           1500
3      39 2022-01-10 00:11:00           4000
4     539 2022-01-10 00:13:00            500
  user_id            datetime withdrawl_amount
0     164 2022-01-10 00:24:00              815
1     946 2022-01-10 00:29:00            23000
2     763 2022-01-10 00:40:00             9473
3      47 2022-01-10 01:01:00             3637
4     302 2022-01-10 01:11:00             2000

In [30]:
# Merging the gameplay, deposit, and withdrawal data on the common column with UserID and Datetime


merge_data = pd.merge(gameplay_data, deposit_data, on=['user_id', 'datetime'], how='outer')
merge_data = pd.merge(merge_data, withdrawal_data, on=['user_id', 'datetime'], how='outer')

In [31]:
print(merge_data.head())

  user_id games_played            datetime deposit_amount withdrawl_amount
0       0            1 2022-04-10 18:28:00            NaN              NaN
1       0            1 2022-05-10 23:03:00            NaN              NaN
2       0            1 2022-06-10 02:23:00            NaN              NaN
3       0            1 2022-10-10 04:17:00            NaN              NaN
4       0            1 2022-10-10 14:58:00            NaN              NaN

In [32]:
# checking for missing values in merged data
merge_data.isnull().sum()

user_id                  0
games_played         20650
datetime                 0
deposit_amount      358472
withdrawl_amount    372350
dtype: int64

In [33]:
# Fill NaN values with 0 
''' To prevent warning  .fillna(0).astype(float) on columns with object data type, we use infer_objects() after filling NaN values
to allow Pandas to know the suitable data type'''

merge_data['games_played'] = merge_data['games_played'].fillna(0).astype(float)
merge_data['deposit_amount'] = merge_data['deposit_amount'].fillna(0).astype(float)
merge_data['withdrawl_amount'] = merge_data['withdrawl_amount'].fillna(0).astype(float)

# Automatically infer appropriate data types
merge_data = merge_data.infer_objects()

C:\Users\DELL\AppData\Local\Temp\ipykernel_34124\647059821.py:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  merge_data['games_played'] = merge_data['games_played'].fillna(0).astype(float)
C:\Users\DELL\AppData\Local\Temp\ipykernel_34124\647059821.py:6: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  merge_data['deposit_amount'] = merge_data['deposit_amount'].fillna(0).astype(float)
C:\Users\DELL\AppData\Local\Temp\ipykernel_34124\647059821.py:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  merge_data['withdrawl_amount'] = merge_data['withdrawl_amount'].fillna(0).astype(float)

In [34]:
print(merge_data.head())

   user_id  games_played            datetime  deposit_amount  withdrawl_amount
0        0           1.0 2022-04-10 18:28:00             0.0               0.0
1        0           1.0 2022-05-10 23:03:00             0.0               0.0
2        0           1.0 2022-06-10 02:23:00             0.0               0.0
3        0           1.0 2022-10-10 04:17:00             0.0               0.0
4        0           1.0 2022-10-10 14:58:00             0.0               0.0

In [35]:
# checking for missing values in merged data
merge_data.isnull().sum()

user_id             0
games_played        0
datetime            0
deposit_amount      0
withdrawl_amount    0
dtype: int64

### Part A

In [36]:
#  Adding Slot column based on the time of each activity

merge_data['Slot'] = merge_data['datetime'].apply(lambda x: 'S1' if x.hour < 12 else 'S2')

In [37]:
print(merge_data.head())

   user_id  games_played            datetime  deposit_amount  \
0        0           1.0 2022-04-10 18:28:00             0.0
1        0           1.0 2022-05-10 23:03:00             0.0
2        0           1.0 2022-06-10 02:23:00             0.0
3        0           1.0 2022-10-10 04:17:00             0.0
4        0           1.0 2022-10-10 14:58:00             0.0

   withdrawl_amount Slot
0               0.0   S2
1               0.0   S2
2               0.0   S1
3               0.0   S1
4               0.0   S2

In [38]:
#  Calculate points for each slot
# Deposit Points: 0.01 * Deposit Amount

merge_data['DepositPoints'] = 0.01 * merge_data['deposit_amount']

# Withdrawal Points: 0.005 * Withdrawal Amount
merge_data['WithdrawalPoints'] = 0.005 * merge_data['withdrawl_amount']

In [39]:
# Games Played Points: 0.2 * Games Played
merge_data['GameplayPoints'] = 0.2 * merge_data['games_played']

In [40]:
# Counting the frequency of deposits and withdrawals per user
# Deposit count per user
deposit_counts = merge_data[merge_data['deposit_amount'] > 0].groupby('user_id').size().astype(int)

# Withdrawal count per user
withdrawal_counts = merge_data[merge_data['withdrawl_amount'] > 0].groupby('user_id').size().astype(int)

In [41]:
# Creating a frequency DataFrame 
frequency_data = pd.DataFrame({
    'user_id': deposit_counts.index,  # Extract user_id from deposit_counts index
    'DepositCount': deposit_counts.values,
    'WithdrawalCount': withdrawal_counts.reindex(deposit_counts.index, fill_value=0).values  # Align with deposit counts
})

In [42]:
# Calculating Frequency Points
frequency_data['FrequencyPoints'] = 0.001 * (frequency_data['DepositCount'] - frequency_data['WithdrawalCount']).clip(lower=0)

In [43]:

# Merging Frequency Points back into the main dataframe merge_data
merge_data = merge_data.merge(frequency_data[['user_id', 'FrequencyPoints']], on='user_id', how='left')

In [44]:
merge_data['FrequencyPoints'].isnull().sum()

63149

In [45]:
# Fill any missing Frequency Points with 0
merge_data['FrequencyPoints'] = merge_data['FrequencyPoints'].fillna(0)

In [46]:
print(merge_data.head())

   user_id  games_played            datetime  deposit_amount  \
0        0           1.0 2022-04-10 18:28:00             0.0
1        0           1.0 2022-05-10 23:03:00             0.0
2        0           1.0 2022-06-10 02:23:00             0.0
3        0           1.0 2022-10-10 04:17:00             0.0
4        0           1.0 2022-10-10 14:58:00             0.0

   withdrawl_amount Slot  DepositPoints  WithdrawalPoints  GameplayPoints  \
0               0.0   S2            0.0               0.0             0.2
1               0.0   S2            0.0               0.0             0.2
2               0.0   S1            0.0               0.0             0.2
3               0.0   S1            0.0               0.0             0.2
4               0.0   S2            0.0               0.0             0.2

   FrequencyPoints
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0

In [47]:
# Calculating Total Loyalty Points by slot
merge_data['LoyaltyPoints'] = merge_data.eval("DepositPoints + WithdrawalPoints + GameplayPoints + FrequencyPoints")

In [48]:
print(merge_data.head())

   user_id  games_played            datetime  deposit_amount  \
0        0           1.0 2022-04-10 18:28:00             0.0
1        0           1.0 2022-05-10 23:03:00             0.0
2        0           1.0 2022-06-10 02:23:00             0.0
3        0           1.0 2022-10-10 04:17:00             0.0
4        0           1.0 2022-10-10 14:58:00             0.0

   withdrawl_amount Slot  DepositPoints  WithdrawalPoints  GameplayPoints  \
0               0.0   S2            0.0               0.0             0.2
1               0.0   S2            0.0               0.0             0.2
2               0.0   S1            0.0               0.0             0.2
3               0.0   S1            0.0               0.0             0.2
4               0.0   S2            0.0               0.0             0.2

   FrequencyPoints  LoyaltyPoints
0              0.0            0.2
1              0.0            0.2
2              0.0            0.2
3              0.0            0.2
4              0.0            0.2

## Questions

**1. Find Playerwise Loyalty points earned by Players in the following slots:-**

    a. 2nd October Slot S1
    b. 16th October Slot S2
    b. 18th October Slot S1
    b. 26th October Slot S2

In [57]:
# Extract unique years from the 'datetime' column
unique_years = merge_data['datetime'].dt.year.unique()

# printing the unique years
print("Unique Years in Data:", unique_years)

Unique Years in Data: [2022]

In [58]:
# Defining specific dates and slots to filter using dictionary
date_slots = {
    ('2022-10-02', 'S1'): '2nd October Slot S1',
    ('2022-10-16', 'S2'): '16th October Slot S2',
    ('2022-10-18', 'S1'): '18th October Slot S1',
    ('2022-10-26', 'S2'): '26th October Slot S2'
}

In [66]:
# Filtering data for each specific date and slot, player-wise
filtered_slots = {}
for (date, slot), label in date_slots.items():
    # Filtering by date and slot
    filtered_data = merge_data[(merge_data['datetime'].dt.strftime('%Y-%m-%d') == date) & (merge_data['Slot'] == slot)]
    
    # Group by UserID to get playerwise loyalty points
    playerwise_points = filtered_data.groupby('user_id')['LoyaltyPoints'].sum().reset_index()
    
    # Store the filtered data by label
    filtered_slots[label] = playerwise_points

In [68]:
# Print results for each specific slot

for label, data in filtered_slots.items():
    print(f"Loyalty points for {label}:")
    print(data.head())

Loyalty points for 2nd October Slot S1:
Empty DataFrame
Columns: [user_id, LoyaltyPoints]
Index: []
Loyalty points for 16th October Slot S2:
   user_id  LoyaltyPoints
0        2          0.400
1        5         12.438
2        6          0.207
3        8          1.000
4        9         35.452
Loyalty points for 18th October Slot S1:
   user_id  LoyaltyPoints
0        2          0.400
1        3          0.408
2        5          2.064
3        7          0.600
4        8          1.800
Loyalty points for 26th October Slot S2:
   user_id  LoyaltyPoints
0        2        900.000
1        5         11.090
2        6          0.207
3        7         33.285
4        8          1.400

#### As the 2nd October date is not available in dataset,  therefore its showing empty dataframe

**2. Calculate overall loyalty points earned and rank players on the basis of loyalty points in the month of October. 
     In case of tie, number of games played should be taken as the next criteria for ranking.**

In [71]:
# Filtering data for the month of October
october_data = merge_data[merge_data['datetime'].dt.month == 10]

# Calculate total loyalty points and games played for each player in October
october_points = october_data.groupby('user_id').agg({
    'LoyaltyPoints': 'sum',
    'games_played': 'sum'
}).reset_index()

# Sorting by TotalLoyaltyPoints first, then by GamesPlayed to resolve ties
october_points = october_points.sort_values(by=['LoyaltyPoints', 'games_played'], ascending=[False, False])

In [72]:
# Rank players based on loyalty points with games played as tiebreaker
october_points['Rank'] = range(1, len(october_points) + 1)

# Print results
print("Ranked Players for October based on Loyalty Points and Games Played:")
print(october_points[['user_id', 'LoyaltyPoints', 'games_played', 'Rank']])

Ranked Players for October based on Loyalty Points and Games Played:
     user_id  LoyaltyPoints  games_played  Rank
632      634      61121.160          22.0     1
712      714      14791.752           4.0     2
210      212      13947.618           0.0     3
670      672      13239.620           8.0     4
97        99      12471.237           4.0     5
..       ...            ...           ...   ...
48        49          0.202           1.0   992
544      546          0.202           1.0   993
386      388          0.200           1.0   994
505      507          0.200           1.0   995
769      771          0.200           1.0   996

[996 rows x 4 columns]

**3. What is the average deposit amount?**

In [77]:
# Calculate the average deposit amount across all records
average_deposit = deposit_data['deposit_amount'].mean()

# Print the result
print(f"Average Deposit Amount: {average_deposit}")

Average Deposit Amount: 5492.557295251205

**4. What is the average deposit amount per user in a month?**

In [78]:
# Add a Month column to the deposit data for grouping
deposit_data['Month'] = deposit_data['datetime'].dt.to_period('M')

# Calculate the average deposit per user per month
user_monthly_average = merge_data.groupby(['user_id', 'Month'])['deposit_amount'].mean().reset_index()

In [79]:
# Calculate the overall average of these monthly averages across all users
average_deposit_user = user_monthly_average['deposit_amount'].mean()

# Print the result
print(f"Average Deposit Amount per User per Month: {average_deposit_user}")

Average Deposit Amount per User per Month: 1257.9576025893493

**5. What is the average number of games played per user?**

In [82]:
# Calculating the total number of games played per user
total_games = gameplay_data.groupby('user_id')['games_played'].sum().reset_index()

# Calculate the overall average games played per user
average_games_played = total_games['games_played'].mean()

In [83]:
# Print the result
print(f"Average Number of Games Played per User: {average_games_played}")

Average Number of Games Played per User: 355.265

### Part B

**How much bonus should be allocated to leaderboard players?**

**After calculating the loyalty points for the whole month find out which 50 players are at the top of the leaderboard. The company has allocated a pool of Rs 50000 to be given away as bonus money to the loyal players.

Now the company needs to determine how much bonus money should be given to the players.

Should they base it on the amount of loyalty points? Should it be based on number of games? Or something else?

That’s for you to figure out.**

Suggest a suitable way to divide the allocated money keeping in mind the following points:
1. Only top 50 ranked players are awarded bonus

In [85]:
# Sort october_points by TotalLoyaltyPoints in descending order
#october_points = october_points.sort_values(by=['TotalLoyaltyPoints', 'GamesPlayed'], ascending=[False, False])

# Select the top 50 players
top_50_players = october_points.head(50)

# Print the top 50 players
print("Top 50 Players for October based on Loyalty Points and Games Played:")
print(top_50_players[['user_id', 'LoyaltyPoints', 'games_played', 'Rank']])

Top 50 Players for October based on Loyalty Points and Games Played:
     user_id  LoyaltyPoints  games_played  Rank
632      634      61121.160          22.0     1
712      714      14791.752           4.0     2
210      212      13947.618           0.0     3
670      672      13239.620           8.0     4
97        99      12471.237           4.0     5
564      566      12128.300         106.0     6
367      369      11137.266          22.0     7
738      740      11011.712           2.0     8
30        30      10804.875           9.0     9
363      365      10389.775        2368.0    10
567      569       9943.789          25.0    11
989      992       9514.384        1601.0    12
419      421       9432.740         989.0    13
917      920       8902.875         614.0    14
236      238       8603.480         574.0    15
2          2       7925.530          66.0    16
350      352       7829.590         182.0    17
676      678       7772.304           9.0    18
784      786       7258.632           6.0    19
912      915       7194.443           7.0    20
160      162       6914.600           0.0    21
220      222       6851.208           5.0    22
975      978       6830.640          52.0    23
342      344       6741.884           1.0    24
536      538       6697.804          20.0    25
413      415       6497.620          19.0    26
906      909       6495.460           0.0    27
76        78       6487.800         379.0    28
206      208       6482.366         333.0    29
599      601       6301.708          22.0    30
986      989       6225.600        2303.0    31
28        28       6162.397          24.0    32
585      587       5931.345         486.0    33
180      182       5923.400        1572.0    34
304      306       5656.152           3.0    35
292      294       5564.243           4.0    36
91        93       5499.116         291.0    37
673      675       5275.997         419.0    38
198      200       5265.420           2.0    39
257      259       5134.385          66.0    40
973      976       4901.040           4.0    41
610      612       4670.350         980.0    42
685      687       4630.471        1106.0    43
665      667       4541.007         191.0    44
854      856       4539.180        3869.0    45
538      540       4389.045        1481.0    46
679      681       4233.952           6.0    47
513      515       4206.856         273.0    48
947      950       4122.360           2.0    49
80        82       4111.850           3.0    50

#### To allocate the Rs 50,000 bonus pool among the top 50 players, we’ll use a weighted formula: 

***80% based on Loyalty Points: Rewards players for deposits, withdrawals, and overall loyalty.***

***20% based on Games Played: Encourages frequent engagement and gameplay.***

#### Formula

**Bonus = ((Player's Loyalty Points / Total Loyalty Points of Top 50) * 0.8 + (Player's Games Played / Total Games Played of Top 50) * 0.2) * 50000**

### Part C



#### Would you say the loyalty point formula is fair or unfair?


***The formula is fair overall but could be adjusted based on company goals. It effectively rewards players who spend more and play often. However, adding a small bonus for long-term, consistent players could further encourage loyalty among those who may not spend as much but are active on the platform regularly.***

#### Can you suggest any way to make the loyalty point formula more robust?

**To make the loyalty formula more robust, we can:**


1.Use Time-Based Multipliers to boost points during off-peak hours or events.

2.Rewards System Engagement for players who deposit, play, and withdraw regularly.
   
3.Introduce Loyalty Tiers with higher multipliers for reaching certain thresholds.

4.Add Referral Bonuses to encourage community growth.